.done {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.done h2 {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.doneContainer {
  margin-bottom: 2vh;

}

.doneIcon {
  height: 15vh;
  width: auto;
  object-fit: contain;
}
