.form {
  padding: 38px;
}

.formBody {
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 600;
  font-size: 35px;
}

.input {
  width: 100%;
  background-color: #222232;
  color: #999cad;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input:active {
  border: 1px solid #ffffff;
  outline: none;
}

.input:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.input::placeholder {
  color: #434343;
}

.textarea {
  width: 100%;
  background-color: #222232;
  color: #999cad;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
}

.textarea:active {
  border: 1px solid #ffffff;
  outline: none;
}

.textarea:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.textarea::placeholder {
  color: #434343;
}

.submitDisabled {
  background-color: #323755;
  padding: 20px;
  color: #979797;
  border-radius: 16px;
  outline: none;
  border: none;
  width: 210px;
  font-size: 20px;
  float: right;
}

.submitActive {
  padding: 20px;
  border-radius: 16px;
  outline: none;
  border: none;
  width: 210px;
  font-size: 20px;
  background-color: #ef5123;
  color: #ffffff;
  float: right;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 35px;
  right: 20px;
}

.searchResult {
  width: 100%;
  height: 30vh;
  position: absolute;
  margin-top: 20px;
  border-radius: 14px;
  padding-top: 40px;
  overflow: scroll;
  background-color: #222232;
}

.searchInput {
  position: relative;
  z-index: 10;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  margin: 2vh 0;
  padding-left: 18px;
  cursor: pointer;
  background-color: #222232;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #ffffff;
}
.track:hover {
  background-color: #33335f;
}

.track p {
  margin: 0;
}

.trackDetail {
  display: flex;
  flex-direction: column;
}

.addBtn {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 18px;
}

.removeBtn {
  position: relative;
  padding: 18px 0 18px 12px;
  display: flex;
  align-items: center;
}


.removeIcon {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.selectedTrack {
  display: flex;
  justify-content: space-between;
  padding: 0 18px;
  border-radius: 14px;
  background-color: #222232;
  width: 100%;
  height: fit-content;
}
