.form {
  padding: 38px;
}

.formBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-family: 'Helvetica';
  font-weight: 600;
  font-size: 35px;
}

.input {
  width: 100%;
  background-color: #222232;
  color: #999CAD;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
}

.input:active {
  border: 1px solid #FFFFFF;
  outline: none;
}

.input:focus {
  border: 1px solid #FFFFFF;
  outline: none;
}

.input::placeholder {
  color: #434343;
}

.textarea {
  width: 100%;
  background-color: #222232;
  color: #999CAD;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 150px;
}

.textarea:active {
  border: 1px solid #FFFFFF;
  outline: none;
}

.textarea:focus {
  border: 1px solid #FFFFFF;
  outline: none;
} 

.textarea::placeholder {
  color: #434343;
}



.submitDisabled {
  background-color: #323755;
  padding: 20px;
  color: #979797;
  border-radius: 16px;
  outline: none;
  border: none;
  width: 212px;
  font-size: 20px;
  float: right;
}

.submitActive {
  padding: 20px;
  border-radius: 16px;
  outline: none;
  border: none;
  width: 212px;
  font-size: 20px;
  float: right;
  background-color: #EF5123;
  color: #FFFFFF;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 35px;
  right: 20px;
}
