html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form-wrapper {
  padding: 34px;
}

input {
  width: 100%;
  background-color: #222232;
  color: #999CAD;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
}

input:active {
  border: 1px solid #FFFFFF;
  outline: none;
}

input:focus {
  border: 1px solid #FFFFFF;
  outline: none;
}

input::placeholder {
  color: #434343;
}

textarea {
  width: 100%;
  background-color: #222232;
  color: #999CAD;
  border-radius: 14px;
  padding: 18px;
  border: 1px solid #222232;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea:active {
  border: 1px solid #FFFFFF;
  outline: none;
}

textarea:focus {
  border: 1px solid #FFFFFF;
  outline: none;
} 

textarea::placeholder {
  color: #434343;
}
