.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  z-index: 0;
  position: fixed;
}

.trackImgWrapper {
  margin-bottom: 5vw;
  z-index: 1;
}

.trackImg {
  height: 30vh;
  width: auto;
  object-fit: contain;
}

.textDescriptionBox {
  width: 50vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.463);
  padding: 10px;
  padding-left: 20px;
  z-index: 1;
  border-radius: 5px;
}

.textDescription P {
  font-size: 38px;
  font-weight: 600;
  margin: 1vh 0;
}


.captionMarquee {
  height: 120px;
  width: 100vw;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #2b00ff;
  -webkit-text-stroke: 1px white;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.captionInner {
  position: absolute;
  margin: 0;
  font-size: 120px;
  font-weight: 600;
  text-align: left;
  line-height: 120px;
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 40s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
